@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

* {
  @apply text-gray-9 whitespace-pre-wrap break-keep box-border;
}

/* 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .long-button {
    @apply w-full py-3 rounded-lg;
  }
  .dialog-container {
    @apply flex w-[300px] py-6 px-4 flex-col items-start gap-8 rounded-2xl bg-white shadow-xl;
  }
  .full-screen {
    @apply w-full min-h-[calc(100vh-89px)] pt-[72px] flex justify-center;
  }
  .check-button {
    @apply w-fit flex gap-2 cursor-pointer items-center;
  }

  /* 상단바 */
  .large-topbar-menu {
    @apply px-3 py-1 rounded-lg text-sm text-gray-4;
  }

  .large-topbar-button {
    @apply px-4 py-[0.62rem] text-sm rounded-lg;
  }

  /* 드롭다운 */
  .dropdown-shadow {
    box-shadow: 0px 4px 4px 0px rgba(22, 22, 22, 0.2);
  }

  /* 회원가입 */
  .signup-screen {
    @apply flex w-full pt-[72px] px-4 pb-8 flex-col items-center gap-6 self-stretch;
  }
  .signup-max-w-600 {
    @apply flex w-full max-w-[600px];
  }
  .signup-input {
    @apply signup-max-w-600 py-2 pr-2 h-[50px] justify-between border-[1px] border-gray-3 pl-4 rounded-lg font-semibold placeholder:text-gray-3 placeholder:font-normal;
  }
  .signup-affiliation {
    @apply flex py-[6px] px-6 items-center self-stretch text-sm;
  }

  /* 프로젝트 */
  .project-input-container {
    @apply flex pl-8 items-start gap-3 self-stretch;
  }
  .long-button {
    @apply w-full py-3 rounded-lg;
  }

  /* 발표 연습 */
  .title-text {
    @apply font-semibold;
  }
  .timer-button {
    @apply px-3 py-[6px] bg-white text-gray-4 rounded-lg;
  }
  .timer-number {
    @apply text-white text-2xl tracking-wider font-extralight relative;
  }
  .timer-unit {
    @apply absolute -translate-y-full top-[2px] right-[4.5px] text-white text-[7px] font-extralight leading-none;
  }
  .tick-container {
    @apply absolute bottom-1/2 pb-[65px] origin-bottom;
  }
  .tick {
    @apply w-[2px] h-[1px] rounded-full bg-white;
  }

  /* 커뮤니티 */
  .likes-comments {
    @apply flex gap-1 items-center;
  }
  .short-button {
    @apply font-semibold text-gray-0 px-4 py-3 bg-primary-1 rounded-lg leading-none;
  }

  /* quill toolbar css 오버라이딩 */
  .react-quill > div {
    @apply text-base;
  }
  .ql-toolbar {
    @apply h-[43px] flex items-center border-b-0 !important;
  }
  .ql-size {
    @apply w-full !important;
  }
  .ql-size > span:last-child {
    @apply h-[256px] overflow-scroll;
  }
  .ql-size > span > span {
    @apply text-center;
  }
}
